#left,
#left *,
#navigation {
  background-color:#505050!important;
  color:#ffffff!important;
}

/*Corpo principale*/
#content,
#content a,
#content p,
#content b,
#content span,
select{
  color:#ffffff;
}

h1,h3 {
  color:#ffffff !important;
}
#content,
#main,
select{
  background-color:#303030;
}
input[type="text"],
textarea{
  background-color:#303030!important;
  color:#ffffff !important;
}
/*Pulsanti invio*/
input[type="button"] {
  background-color:#505050!important;
  color:#ffffff!important;
}


/*Link "Attività" nel quaderno*/
.nav-tabs>li>a {
  border-bottom-color: #ffffff;
  border-top-color: #777777;
  border-right-color: #777777;
  border-left-color: #777777;
}

/* Date nel quaderno "Messaggi alla classe" */
.date {
  background-color: #505050 !important;
}

/*Sfondo nelle icone del quaderno rosse*/
.icon.red,
.icon.red:hover,
.icon.red i,
.icon.red i:hover{
  background-color: #e51400 !important;
}

/*Linea che unisce le icone nei messaggi alla classe*/
.line,
.line:hover{
  background-color:#eee !important;
}

/*Hover nei "messaggi alla classe" */
.timeline,
.timeline>li:hover{
  background-color:#303030 !important;
}

.nav-tabs>.active>a{
  background-color:#303030;
}

#footer p {
  background-color: #505050;
}


tr th, tr td{
  background-color:#404040 !important;
}
ul.pagestats.style-3,
tr[id^='riga'] *{
  background-color: #505050!important;
  border-color:#505050 !important;
}

/* Capitoli, sottocapitoli... libro*/
.accordion,
.accordion-group,
.accordion-heading,
.box-content,
.accordion * {
  background-color: #505050 !important;
}

.navbar * {
  background-color: #505050;
  text-shadow: none !important;
}
.navbar-inner {
  padding: 0 !important;
}
.breadcrumbs,
.breadcrumbs * {
  background-color: #505050 !important;
  color: #ffffff !important;
}

.alert.alert-success b {
  color: #000000 !important;
}


#cke_1_top,
#cke_1_top *,
#cke_1_bottom{
  background-color:#303030 !important;
  color:#ffffff !important;
}

.box,
.box *{
  background-color:#505050!important;
  color:#ffffff!important;
  border-color:#303030!important;
}

.dropdown-menu,
.dropdown-menu * {
  background-color: #707070;
  color: #ffffff !important;
  border-color: #707070 !important;
}

.more-messages {
  background-color: #707070 !important;
}