.cke_dialog_body,
.cke_dialog_title,
.cke_dialog_footer,
.cke_dialog_tab,
.cke_dialog_close_button{
  background-color:#505050 !important;
  color:#ffffff !important;
}

.cke,
.cke_inner,
.cke_bottom,
.cke_reset_all,
.cke_editable,
.cke_editable_themed,
.cke_contents_ltr,
.cke_show_borders,
.cke_button,
.cke_button_off,
.cke_button_label,
.cke_button__image_label,
.cke_dialog_close_button,
.cke_dialog_tab_selected,
.cke_dialog_ui_button,
.cke_247_label,
.cke_path_item{
  background-color:#303030 !important;
  color:#ffffff !important;
}
span{color:#ffffff !important}